node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

example/node_modules
example/.expo/
example/dist/
example/npm-debug.*
example/*.jks
example/*.p8
example/*.p12
example/*.key
example/*.mobileprovision
example/*.orig.*
example/web-build/

# macOS
.DS_Store